<app-carousel-basic style="width:100%; height:100%; object-fit: cover;" ></app-carousel-basic>


<div style="padding-left:7%; padding-top:1%; color:white;"><h2 ><p>Popular Movies</p></h2></div>
<app-multi name='popular' ></app-multi>



<div style="padding-left:7%; padding-top:3%; color:white;"><h2 ><p>Top Rated Movies</p></h2></div>
<app-multi name='toprated' ></app-multi>


<div style="padding-left:7%; padding-top:3%; color:white;"><h2 ><p>Trending Movies</p></h2></div>
<app-multi name='trending' ></app-multi>


<div style="padding-left:7%; padding-top:3%; color:white;"><h2 ><p>Popular TV Shows</p></h2></div>
<app-multi name='populartv' ></app-multi>


<div style="padding-left:7%; padding-top:3%; color:white;"><h2 ><p>Top Rated TV Shows</p></h2></div>
<app-multi name='topratedtv' ></app-multi>


<div style="padding-left:7%; padding-top:3%; color:white;"><h2 ><p>Trending TV Shows</p></h2></div>
<app-multi name='trendingtv' ></app-multi>

