.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.FixedHeightContainer
{


  width:100%;

  background-color:transparent;


  overflow-x:scroll;
  justify-content: space-evenly;

}


.Content
{




   overflow-x:scroll;

    background:transparent;
    display: flex;
  justify-content: space-evenly;


}


.Content::-webkit-scrollbar {
      width: 2px;
      height:7px;
  }

  /* Track */
.Content::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px white;
      border-radius: 10px;
  }

  /* Handle */
.Content::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
  }

  /* Handle on hover */
.Content::-webkit-scrollbar-thumb:hover {
      background: white;
  }
