<div style="padding-left:8%;padding-right:8%;" >
  <ngb-carousel #carousel [interval]="10000000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">




        <div class="row" >

          <div  class="col-sm" *ngFor="let k of images[i]; index as j" >





            <div *ngIf="types">


              <div *ngIf="types[i][j] =='tv'">
              <a routerLink="/watch/{{types[i][j]}}/{{ids[i][j]}}"  rel="nofollow noopener noreferrer">
                <div class="card">

                  <img  style="width:100%" [src]="k" >
                  <p class="card-title" >{{titles[i][j]}} <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                </div>
          </a>
        </div>

        <div *ngIf="types[i][j] ==''">
          <a routerLink="/watch/movie/{{ids[i][j]}}"  rel="nofollow noopener noreferrer">
            <div class="card">

              <img  style="width:100%" [src]="k" >
              <p class="card-title" >{{titles[i][j]}} <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            </div>
      </a>
    </div>



            </div>

            <div *ngIf="!types">
              <a routerLink="/watch/{{type}}/{{ids[i][j]}}"  rel="nofollow noopener noreferrer">
                <div class="card">

                  <img  style="width:100%" [src]="k" >
                  <p class="card-title" >{{titles[i][j]}} <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                </div>

          </a>

            </div>



















        </div>

  </div>




    </ng-template>
  </ngb-carousel>

  <hr>

