


<div style="top:-100px;padding-left:10%;padding-right:10%;" >

<ngb-carousel  #carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">

      <p  >  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class = "movietitle" style="text-decoration: none; color:white;"  href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">{{titles[i]}}     </a><br><br></p>

    </div>
    <a class="nav-link" routerLink="/watch/movie/{{ids[i]}}">

      <div class="picsum-img-wrapper" >
        <img class="item" style="width:100%; height:100%; top:100px;" [src]="img" alt="My image {{i + 1}} description">
</div>

    </a>
  </ng-template>
</ngb-carousel>

<hr>

</div>
